<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_type_prepare_full_options">
        <observer name="after_add_to_cart" instance="VladFilimon\M2PrintService\Observer\AddToCartObserver" />
    </event>
</config>
