<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="M2PrintService_Checkout_Cart_Product_Image_Changer" type="VladFilimon\M2PrintService\Plugin\CheckoutCart\Image" sortOrder="1"/>
    </type>
    -->
    <!--
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="M2PrintService_Checkout_Cart_Product_Image_Changer" type="VladFilimon\M2PrintService\Plugin\CheckoutCart\Image" sortOrder="1"/>
    </type>
    -->
    <type name="Magento\Catalog\Block\Product\ImageFactory">
        <plugin name="M2PrintService_ProductImageFactory" type="VladFilimon\M2PrintService\Plugin\Catalog\Block\Product\ImageFactory" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\CustomerData\DefaultItem">
        <plugin name="M2PrintService_MinicartDefaultItem" type="VladFilimon\M2PrintService\Plugin\Checkout\CustomerData\DefaultItem" sortOrder="1"/>
    </type>
</config>
