<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="m2printservice" frontName="m2printservice">
            <module name="VladFilimon_M2PrintService"/>
        </route>
    </router>
</config>