.footer ul {
    float: none;
    display: inline-block;
    padding-right: 50px;
    vertical-align: top;
    margin: 0;
    padding: 0;
    list-style: none none;
}

div[name="billingAddresscheckmo.country_id"] { display: none; }
div[name="billingAddresscheckmo.company"] { display: none; }
