.footer ul {
    float: none;
    display: inline-block;
    padding-right: 50px;
    vertical-align: top;
    margin: 0;
    padding: 0;
    list-style: none none;
}

div[name="billingAddresscheckmo.country_id"] { display: none; }
div[name="billingAddresscheckmo.company"] { display: none; }

.header > ul.header.links {
    float:none !important;
    width:100%;
    text-align: center;
    display: block !important;
    margin: auto !important;
    margin-left:none !important;
}

.header.content {
    padding: 70px 20px 0;
}

.page-header .panel.wrapper {
    position:fixed;
    width:100%;
    z-index:5;
}

.header.content {
    padding: 70px 20px 0;
}
